.btn-custom {
    a,
    span {
        border-radius: 20px;
        border: 1px solid $color-secondary;
        background-color: $color-primary;
        color: $color-white;
        font-size: 14px;
        font-family: var(--mainFontBold);
        line-height: normal;
        padding:16px 22px;
        height: 50px;
        font-weight: 600;
        transition: 0.3s all;
        display: inline-flex;
        align-items: center;

        &::after {
            content: "";
            background-image: url('/images/icono-flecha-boton-blanco.svg');
            background-repeat: no-repeat;
            background-size: contain;
            width: 22px;
            height: 5px;
            display: block;
            margin-left: 16px;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: transparent;
            color: $color-primary;
            font-weight: 600;

            &::after {
                background-image: url('/images/icono-flecha-boton-azul.svg');
            }
        }
    }

    &.btn-outline-white {
        a {
            border-color: $color-white;

            &:hover,
            &:active,
            &:focus {
                background-color: $color-white;
            }
        }
    }

    &.btn-white {
        a,
        span {
            border-color: $color-white;
            background-color: $color-white;
            color: $color-primary;

            &::after {
                background-image: url('/images/icono-flecha-boton-azul.svg');
            }

            &:hover,
            &:active,
            &:focus {
                background-color: transparent;
                color: $color-white;

                &::after {
                    background-image: url('/images/icono-flecha-boton-blanco.svg');
                }
            }
        }
    }
}