.footer {
    background-color: $color-secondary;

    .wrapper-footer-widgets {
        padding-top: 40px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(255,255,255,.2);

        .footer-contact-info {
            color: $color-primary;

            p {
                font-weight: 200;

                &:first-child {
                    margin-bottom: 12px;
                }

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }

    .wrapper-footer-colophon {
        padding: 30px 0 40px;

        .text-legal { 
            color: $color-primary;
            opacity: .6;
            font-size: 13px;
            line-height: 25px;
        }

        #legal-menu {
            .menu-item {
                a {
                    &:hover,
                    &:active,
                    &:focus {
                       text-decoration: underline;
                    }
                }
                &:not(:last-child) {
                    &::after {
                        content: "|";
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}